@railHeight: 5px;
@railHeightFocussed: 15px;
@buttonSize: 34px;
.bombardierVideoSkin {

  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;

  .mejs-container-fullscreen {
    .mejs-controls .mejs-time-rail {
      bottom: 20px;
    }
  }

  .mejs-controls {
    background: none !important;
    height: 34px;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;

    .mejs-button.mejs-fullscreen-button {
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: @buttonSize;
      height: @buttonSize;

      &.mejs-unfullscreen {
        right: 5em;
        bottom: 5em;

        button {
          background-position: -60px -29px;
          background-size: 275px;
          width: @buttonSize;
          height: @buttonSize;
          padding: 0;
          margin: 0;
        }
      }
    }

    .mejs-time-rail {
      span {
        height: @railHeight;
        transition: height .25s ease-in;

        &.focussed {
          height: @railHeightFocussed;
          transition: height .25s ease-out;
        }
      }

      .mejs-time-total {
        height: @railHeight;
        position: absolute;
        bottom: -30px;
        background: #2f2f2f;
      }

      .mejs-time-current {
        background: linear-gradient(#ff0000, rgba(170, 17, 17, 0.9));
        span {
          width: 10px;
          height: 10px;
          opacity: 0;
          transition: opacity .25s ease-in;
          &.focussed {
            z-index:999;
            opacity: 1;
            transition: opacity .25s ease-out;
            right: -11px;
            top: -3px;
            border: 6px solid #fff;
            border-radius: 10px;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5) inset,  2px 2px 5px 0px rgba(0, 0, 0, 0.5);
          }
        }
      }
      .mejs-time-loaded {
        background: linear-gradient(#f29c1f, rgba(197, 137, 9, 0.9));
      }

      span {
        border-radius: 0;
        height: @railHeight;

        [class^='mejs-time'] {
          height: 100%;
        }

        &.mejs-time-float {
          height: 15px;
          top: -25px;
        }

        &.mejs-time-float-current {
          width: 100%;
          margin: 0;
          line-height: 15px;
        }
      }
    }

    .mejs-button button {
      background-color: rgba(0, 0, 0, 0.6);
      height: 20px;
      width: 20px;
      margin: 7px;
      box-sizing: content-box;
      background-size: 174px;
      background-position: -39px 0;
    }

    div {
      height: auto;
      &.mejs-time-rail {
        padding-top: 0;
        height: @railHeight;
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;

        .mejs-time-total {
          box-sizing: content-box;
          margin: 15px 0;
        }
      }
    }

    .mejs-play, .mejs-pause {
      display: none;
    }
    .mejs-time {
      padding: 0;
      &[role="timer"] {
        width: 0;
        height: 0;
      }
    }
  }
}